/*
Theme Name: SES 2018
Theme URI:
Author: SES
Author URI:
Description: The theme for SES Investigation website.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: SES, Investigation

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@blue-color-1: #003359;
@blue-color-2: #5bc6e8;

@grey-color-1: #4a4a4a;

@red-color-1: #e00034;
@red-color-2: #b30029;

@primary-color: @blue-color-1;
@secondary-color: @blue-color-2;
@text-color: @grey-color-1;

@screen-i5-landscape-min: 568px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xlg-min: 1400px;
@screen-xxlg-min: 1650px;

/* WP - IMAGE ALIGNMENT ATTRIBUTE */
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
/* WP - IMAGE ALIGNMENT ATTRIBUTE */

/* MENU */
@dark: #212121;
@light: #efefef;
@color: #b3e5fc;

.navbar-toggle{
	margin: 4px 0 0;
}

.btn(@left, @top) {
	position: absolute;
	width: 60px;
	height: 60px;
	top: @top;
	left: @left;
	transition-duration: 0.5s;
}

.icon(@height, @width) {
	transition-duration: 0.5s;
	position: absolute;
	height: @height;
	width: @width;
	top: 15px;
	background-color: @dark;
}

.icon-before(@height, @width, @top) {
	transition-duration: 0.5s;
	position: absolute;
	width: @width;
	height: @height;
	background-color: @dark;
	content: "";
	top: @top;
	left: 0;
}

.icon-after(@height, @width, @top) {
	transition-duration: 0.5s;
	position: absolute;
	width: @width;
	height: @height;
	background-color: @dark;
	content: "";
	top: @top;
	left: 0;
}

.menu-btn{
  	transition-duration: 0.5s;
  	width: 30px;
	height: 30px;
	position: relative;

  	.icon-left {
	    .icon(2px, 12px);

	    &:before{
	      .icon-before(2px, 12px, -9px);
	    }

	    &:after{
	      .icon-after(2px, 12px, 9px);
	    }

	    &:hover{
	      cursor: pointer;
	    }
  	}

  	.icon-right {
	    .icon(2px, 12px);
	    left: 12px;

	    &:before{
	      .icon-before(2px, 12px, -9px);
	    }

	    &:after{
	      .icon-after(2px, 12px, 9px);
	    }
  	}

  	&.open {
    	.icon-left {
      		transition-duration: 0.5s;
      		background: transparent;

      		&:before{
        		transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
      		}

      		&:after{
        		transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
      		}
    	}

    	.icon-right {
      		transition-duration: 0.5s;
      		background: transparent;

      		&:before{
        		transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
      		}

      		&:after{
        		transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
      		}
    	}
  	}

  	&:hover {
    	cursor: pointer;
  	}
}
/* MENU */

.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.text-overflow(){
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.blink{
	-webkit-animation: blinker 1.5s linear infinite;
	-moz-animation: blinker 1.5s linear infinite;
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
	0% { opacity: 0.3; }
	30% { opacity: 1.0; }
	30% { opacity: 1.0; }
	100% { opacity: 0.3; }
}

.container{
	width: 100%;
}

.animate{
    opacity: 0;
}

body{
	-webkit-font-smoothing: antialiased;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: @text-color;
	background-color: #fff;
	padding-top: 60px;
}

p{
	+ p{
		margin-top: 15px;
	}

	+ ul{
		margin-top: 15px;
	}

	a{
		color: @red-color-1;

		&:hover{
			color: @red-color-1;
			border-bottom: 1px solid @red-color-1;
		}
	}
}

strong,
b{
	font-weight: 700;
}

button,
input,
a{
	cursor: pointer;

	&:hover,
	&:focus,
	&:active{
		outline: none !important;
		box-shadow: none !important;
		text-decoration: none;
	}
}

textarea,
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.link{
	color: @red-color-1;

	&:hover{
		color: @red-color-1;
		border-bottom: 1px solid @red-color-1;
	}
}

.row{
    &.narrow{
        margin-left: -7px;
        margin-right: -7px;

        > [class*="col-"]{
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    &.no-gap{
    	margin-left: 0;
        margin-right: 0;

        > [class*="col-"]{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.btn{
	font-weight: 500;
	font-weight: bold;
	transition-duration: 0.3s;
	border-radius: 2px;
	-webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

	&:active{
		outline: none !important;
		box-shadow: none !important;
		text-decoration: none;
	}

	&.btn-rounded{
		border-radius: 50px;
	}

	&.btn-size-200{
		min-width: 200px;
	}

	&.link-btn{
		padding: 0;
		font-size: 17px;
		font-weight: normal;

		.link-icon{
			width: 18px;
			margin-top: -5px;
			display: inline-block;
			vertical-align: middle;
			transition-duration: 0.3s;
		}

		&:hover{
			.link-icon{
				margin-right: 5px;
			}
		}
	}

	&.btn-skelleton{
		border: 3px solid @primary-color;
		color: @primary-color;
		background: transparent;
		-moz-box-shadow:    inset 0 0 0 2px transparent !important;
	    -webkit-box-shadow: inset 0 0 0 2px transparent !important;
	   	box-shadow:         inset 0 0 0 2px transparent !important;

		&.btn-red-1{
			border-color: @red-color-1;
			color: @red-color-1;
			background: transparent;
			-moz-box-shadow:    inset 0 0 0 2px transparent !important;
		    -webkit-box-shadow: inset 0 0 0 2px transparent !important;
		   	box-shadow:         inset 0 0 0 2px transparent !important;

			&:hover{
				background: @red-color-1;
				color: #fff;
			 	border-color: @red-color-1;
			}
		}

		&:hover{
			background: transparent;
			color: @primary-color;
		 	border-color: @primary-color;
		}
	}

	&.btn-red-1{
		background: @red-color-1;
		border-color: @red-color-1;
		color: #fff;

		&:focus,
		&:hover{
			background: @red-color-2;
			border-color: @red-color-2;
			color: #fff;
		}
	}

	&.btn-white{
		background: #fff;
		border-color: #fff;
		color: @red-color-1;

		&:focus,
		&:hover{
			background: @red-color-2;
			border-color: @red-color-2;
			color: #fff;
		}
	}

	&.extra-big{
		padding: 16px 25px 15px;
		min-width: 230px;
		line-height: 1.2;
		font-size: 18px;
	}

	&.big{
		padding: 15px 25px 12.8px;
		min-width: 200px;
		line-height: 1.2;
		font-size: 16px;
	}

	&.medium{
		padding: 10px 25px;
		font-size: 14px;
	}

	&.size-1{
		min-width: 200px;
	}

	&.size-2{
		min-width: 150px;
	}
}

.modal{
	.modal-dialog{
		.modal-content{
			.modal-header{
				color: @primary-color;

				.modal-title{
					font-weight: bold;
				}

				.logo{
					max-height: 36px;
					margin: -5px 0;
				}

				.close{
					margin-top: 3px;
				}
			}

			.modal-body{
				font-size: 15px;
				padding: 20px 15px;
				min-height: 100px;
			}

			.modal-footer{
				text-align: center;
				border: none;
			}
		}
	}
}

.upload-btn-wrapper{
	.upload-btn{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}

	.input-file{
		position: absolute;
		top: 0;
		left: 0;
		font-size: 100px;
		opacity: 0;
	}

	.filename{
		font-size: 18px;
		margin-left: 16px;
		display: inline-block;
		vertical-align: middle;
	}
}

.title-1{
	font-size: 24px;
	font-weight: bold;
}

.text-red-1{
	color: @red-color-1;

	&:hover{
		color: @red-color-1;
	}
}

.text-normal{
	font-weight: normal;
}

.text-bold{
	font-weight: bold;
}

.text-primary{
	color: @primary-color;
}

.text-secondary{
	color: @secondary-color;
}

.no-margin-top{
	margin-top: 0 !important;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

textarea,
input[type="tel"],
input[type="email"],
input[type="text"]{
	cursor: text;

	&.form-control{
		border-radius: 2px;
		padding: 10px 15px;
		height: auto;
		font-size: 16px;
		border: solid 2px #e0e1dd;
	}

	&:focus{
		outline: none !important;
		box-shadow: none !important;
		border-color: @primary-color !important;
	}

	&.error{
		border-color: @red-color-1 !important;

		&:focus{
			border-color: @red-color-1 !important;
		}
	}
}

a{
	&:focus{
		outline: none;
		box-shadow: none;
	}

	&.text-primary:active,
	&.text-primary:focus,
	&.text-primary:hover,
	&.text-primary:hover{
		outline: none !important;
		color: @primary-color !important;
	}

	&.text-secondary:active,
	&.text-secondary:focus,
	&.text-secondary:hover,
	&.text-secondary:hover{
		outline: none !important;
		color: @secondary-color !important;
	}

	&.text-red-1:active,
	&.text-red-1:focus,
	&.text-red-1:hover,
	&.text-red-1:hover{
		outline: none !important;
		color: @red-color-1 !important;
	}
}

textarea{
	resize: none;

	&.form-control{
		border-radius: 2px;
		padding: 10px 15px;
		height: auto;
		font-size: 16px;
		border: solid 2px #e0e1dd;
	}
}

section{
	&.content-section{
		padding: 25px 0;

		&.big-top-space{
			padding-top: 60px;
		}
	}

	&.no-top-space{
		margin-top: 0 !important;
	}

	&.no-space{
		padding: 0 !important;
		margin: 0 !important;
	}

	&.top-nav{
		.page-title,
		.section-title{
			margin-bottom: 90px !important;
		}

		.owl-dots,
		.owl-nav{
			position: absolute;
		    top: 0;
		    margin-top: -50px;
		}
	}

	&.big-top-space{
		padding-top: 60px;
	}

	&.big-bottom-space{
		padding-bottom: 60px;
	}

	&.top-border{
		border-top: 1px dotted #ddd;
	}

	+ section{
		margin-top: 40px;

		&.big-top-space{
			margin-top: 60px;
		}
	}
}

#header-panel{
	margin-top: 0;

	> .navbar{
		background: rgba(255, 255, 255, 0.95);
		-webkit-transition: all 0.25s ease-in-out;
    	transition: all 0.25s ease-in-out;
    	-webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;
	    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;
	    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;

		.navbar-brand{
			padding-left: 15px;
			padding-bottom: 8px;
    		height: 60px;
		}

		#main-menus{
			border: none;
			box-shadow: none;
			padding-top: 15px;
			padding-bottom: 15px;
			max-height: 100vh;
		}

		#menu-main-menu{
			.menu-item{
				padding-top: 2px;
				padding-bottom: 2px;

				&.qtranxs-lang-menu{
					&.qtranxs-lang-menu-en{
						> ul{
							> li{
								&.qtranxs-lang-menu-item-en{
									> a{
										color: @primary-color;
										background-color: transparent;
										font-weight: 700;
									}
								}
							}
						}
					}

					> ul{
						> li{
							margin: 0;

							&.active{
								> a{
									color: @primary-color;
									background-color: transparent;
									font-weight: 700;
								}
							}

							> a{
								color: @text-color;
								font-weight: normal;
							}
						}
					}
				}

				&.active{
					> a{
						font-weight: 700;
					}
				}

				> a{
					color: @primary-color;
					font-size: 16px;
					-webkit-transition: all 0.25s ease-in-out;
    				transition: all 0.25s ease-in-out;

					&:focus,
					&:hover{
						background: transparent;
					}
				}

				&.open{
					.dropdown-toggle{
						background-color: transparent;
					}
				}
			}
		}
	}
}

.content-page{
	padding-top: 60px;
	padding-bottom: 80px;
	min-height: 300px;
}

.page-cover{
	height: 240px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #ddd;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		// background-color: rgba(0, 0, 0, 0.4);
		background: url('./images/footer-bg.jpg') repeat rgba(0, 0, 0, 0.1);
		background-size: 6px auto;
		opacity: 0.6;
		z-index: 2;
	}

	.cover-content{
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		text-align: center;
		z-index: 3;
		color: #fff;

		.title{
			color: #fff;
			font-size: 40px;
			font-weight: 600;
			margin-bottom: 20px;
		}

		.subtitle{
			font-size: 16px;
		}
	}
}

.page-title{
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 32px;
	color: @primary-color;
	line-height: 1.2;
}

.section-title{
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	line-height: 1.4;
	color: @primary-color;

	&.small{
		font-size: 28px;
	}

	&.extra-small{
		font-size: 18px;
		font-weight: lighter;
		margin-bottom: 8px;
	}

	&.big{
		font-size: 40px;
	}
}

.content-text{
	font-size: 18px;
}

.image-container{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ddd;
	position: relative;

	&.square{
		padding-bottom: 100%;
	}

	&.with-text{
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			// background-color: rgba(0, 0, 0, 0.4);
			background: url('./images/footer-bg.jpg') repeat rgba(0, 0, 0, 0.1);
			opacity: 0.6;
			z-index: 2;
		}
	}

	.title{
		font-size: 24px;
		font-weight: 700;
		position: absolute;
		top: 50%;
		left: 15px;
		right: 15px;
		text-align: center;
		transform: translateY(-50%);
		color: #fff;
		z-index: 5;
	}
}

ul{
	padding: 0;
	margin: 0;

	+ p{
		margin-top: 15px;
	}

	> li{
		margin-left: 20px;
	}
}

#client-choose-panel{
	padding: 40px 40px;
	background-color: @primary-color;
	color: #fff;
	-webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;
    position: relative;

    // &:after{
    // 	content: '';
    // 	width: 0;
    // 	right: 0;
    // 	border: 40px solid transparent;
    // 	border-left-color: @primary-color;
    // 	position: absolute;
    // 	bottom: -25px;
    // 	left: 60px;
    // }

	.section-title{
		color: #fff;
		margin-bottom: 25px;
	}
}

#footer-panel{
	padding: 35px 0 45px;
	font-size: 13px;
	background-color: #f3f3f3;

	&.negative{
		background-color: #031b2c;

		#footer-menus{
			text-align: left;

			> ul{
				> li{
					> a{
						color: #fff;
					}
				}
			}
		}

		#footer-contact{
			> li{
				color: #fff;

				.list-icon,
				.list-text{
					color: #fff;
				}
			}
		}

		#copyright{
			color: #fff;
		}
	}

	#footer-logo{
		margin-top: 5px;
		max-height: 60px;
	}

	#footer-menus{
		margin-top: 20px;
		text-align: left;

		> ul{
			margin-top: 0;

			> li{
				margin-left: 0;
				display: inline-block;

				+ li{
					margin-left: 0px;
				}

				&.qtranxs-lang-menu{
					display: none;
				}

				&:first-child{
					> a{
						padding-left: 0;
					}
				}

				> a{
					color: @primary-color;
					font-size: 14px;
					font-weight: 600;
					padding: 10px;

					&:hover{
						background-color: transparent;
					}
				}
			}
		}
	}

	#footer-text{
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.copyright{
		margin-top: 15px;
		font-size: 12px;
		color: @primary-color;
	}

	#mobile-copyright{
		margin-top: 30px;
	}
}

#credit{
	text-align: left;
	font-size: 10px;
	margin-bottom: 20px;
	color: #bbb;

	a{
		color: #bbb;
	}
}

#contact-form{
}

.contact-list,
#contact-list{
	list-style: none;
	margin-top: 80px;
	margin-bottom:30px;

	&.small{
		margin-top: 10px;
		margin-bottom: 10px;

		> li{
			+ li{
				margin-top: 8px;
			}

			.list-icon{
				width: 26px;
				display: inline-block;
				vertical-align: middle;
				color: @primary-color;
				font-size: 14px;
				line-height: 1;

				> img{
					height: 16px;
				}
			}

			.list-text{
				font-size: 13px;
				color: @primary-color;

				.list-label{
					font-size: 10px;
				}
			}
		}
	}

	> li{
		margin-left: 0;

		+ li{
			margin-top: 20px;
		}

		.list-icon{
			width: 50px;
			display: inline-block;
			vertical-align: middle;
			color: @primary-color;
			font-size: 30px;
			line-height: 1;

			> img{
				height: 32px;
			}
		}

		.list-text{
			font-size: 18px;
			color: @primary-color;
			display: inline-block;
			vertical-align: middle;

			.list-label{
				text-transform: uppercase;
				font-size: 12px;
				margin-bottom: 0;
				font-weight: 600;
				color: #999;
			}
		}
	}
}

@xs-min-height: 400px;

#slides{
	min-height: @xs-min-height;
	max-height: 100vh;
	background-color: #eee;
	position: relative;

	#slide-text{
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			// background-color: rgba(0, 0, 0, 0.4);
			background: url('./images/footer-bg.jpg') repeat rgba(0, 0, 0, 0.1);
			background-size: 6px auto;
			opacity: 0.6;
			z-index: 2;
		}

		.content-wrapper{
			position: absolute;
			top: 50%;
			transform: translateY(-59%);
			max-width: 90%;
			z-index: 3;
		}

		.title{
			font-size: 30px;
			line-height: 1.2;
			font-weight: 600;
			color: #fff;
			margin-bottom: 20px;
		}

		.subtitle{
			color: #fff;
			font-size: 20px;
			font-weight: 300;
		}
	}

	.owl-carousel{
		height: @xs-min-height;

		.owl-stage-outer{
			height: 100%;

			.owl-stage{
				height: 100%;

				.owl-item{
					height: 100%;

					.item{
						height: 100%;
					}
				}
			}
		}

		.owl-dots{
		    position: absolute;
		    bottom: 10px;
		    left: 0;
		    right: 0;

		    .owl-dot{
		        > span{
		            border-radius: 50%;
		            border: 0;
		            background-color: rgba(255, 255, 255, 0.35) !important;
		        }

		        &.active{
		            > span{
		                background: #fff !important;
		            }
		        }
		    }
		}
	}

	.item-content{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		background-color: #ddd;
		position: relative;
		height: 100%;

		.content-wrapper{
			position: absolute;
			top: 50%;
			transform: translateY(-59%);
			max-width: 60%;
		}

		.title{
			font-size: 40px;
			line-height: 1.2;
			font-weight: 600;
			color: #fff;
			margin-bottom: 20px;
		}

		.subtitle{
			color: #fff;
			font-size: 30px;
			font-weight: 300;
		}
	}
}

#go-to-top-btn{
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: @primary-color;
	color: #fff;
	width: 50px;
	height: 50px;
	font-size: 22px;
	line-height: 48px;
	text-align: center;
	display: none;
	z-index: 5;
}

#faq-accordion{
	.panel{
		border-radius: 0;

		.panel-heading{
			padding: 0;

			.panel-title{
				> a{
					padding: 20px 30px 20px 20px;
					display: block;
					color: @primary-color;
					font-size: 18px;
					font-weight: 600;
					position: relative;
					background-color: @primary-color;
					color: #fff;
					margin: -1px;

					&:after{
						content: '\f106';
						position: absolute;
						right: 20px;
						top: 22px;
						font-size: 18px;
						line-height: 1;
						font-family: "FontAwesome";
					}

					&.collapsed{
						&:after{
							content: '\f107';
						}
					}
				}
			}
		}

		.panel-collapse{
			.panel-body{
				border-top: 0;
				padding: 20px;
			}
		}
	}
}

.service-box{
	+ .service-box{
		margin-top: 30px;
	}

	.service-content{
		padding: 30px 0;

		.title{
			color: @primary-color;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 20px;
		}
	}
}

#services{
	.service-col{
		+ .service-col{
			margin-top: 20px;
		}
	}
}

#home-faq{
	background-color: #f8f8f8;
	padding: 60px 0 40px;

	#faq-accordion{
		margin-top: 30px;
	}
}

#home-contact-us{
	background-color: @red-color-1;
	padding: 40px;
	text-align: center;
	color: #fff;
	-webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1) ;
	// min-height: 150px;

	.title{
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 5px;
	}

	.subtitle{
		font-size: 16px;
	}

	.right-col{
		margin-top: 20px;
	}
}

#qtranslate-chooser{
	margin-top: 20px;
	display: none;

	> li{
		margin-left: 0;
		display: inline-block;
		vertical-align: middle;

		+ li{
			margin-left: -6px;
			border-left: 1px solid @primary-color;
		}

		&.active{
			> a{
				font-weight: bold;
			}
		}

		> a{
			font-size: 14px;
			display: block;
			padding: 0 10px;
			color: @primary-color;
			line-height: 1;
		}
	}
}

@media(min-width: 414px){
	#qtranslate-chooser{
		> li{
			> a{
				font-size: 16px;
				padding: 0 15px;
			}
		}
	}
}

@sm-min-height: 600px;

@media(min-width: @screen-sm-min){
	#qtranslate-chooser{
		margin-top: 10px;
	}

	body{
		padding-top: 70px;
		font-size: 18px;
	}

	#credit{
		text-align: right;
	}

	.container{
		width: 95%;
	}

	.content-page{
		padding-top: 80px;
		padding-bottom: 100px;
	}

	#header-panel{
		> .navbar{
			.navbar-brand{
				padding: 15px 0 10px;
				height: 70px;
			}

			#main-menus{
				padding-top: 10px;
				padding-bottom: 0;
			}

			#menu-main-menu{
				.menu-item{
					margin-left: 0;

					+ .menu-item{
						margin-left: 0;
						padding: ;
					}
				}
			}
		}
	}

	#footer-panel{
		padding: 45px 0 60px;

		#footer-menus{
			margin-top: 0;
		}
	}

	#contact-list{
		margin-top: 0;
	}


	#client-choose-panel{
		padding: 60px 80px;
	}

	.page-cover{
		height: 360px;
		background-position: top center;
		background-attachment: fixed;

		.cover-content{
			.title{
				font-size: 50px;
				text-transform: uppercase;
			}

			.subtitle{
				font-size: 18px;
			}
		}
	}

	#faq-panel{
		// width: 700px;
		// max-width: 100%;
		// margin: auto;
	}

	#faq-accordion{
		.panel{
			.panel-heading{
				.panel-title{
					> a{
						font-size: 20px;
					}
				}
			}
		}
	}

	.service-box{
		+ .service-box{
			margin-top: 100px;
		}

		.service-content{
			padding: 10px 0;

			.title{
				font-size: 32px;
			}
		}
	}

	#services{
		.service-col{
			+ .service-col{
				margin-top: 0;
			}
		}
	}

	#home-faq{
		padding: 80px 0 60px;
	}

	#home-contact-us{
		background-color: @red-color-1;
		padding: 40px;
		text-align: left;
		color: #fff;
		margin-bottom: -60px;
		// min-height: 150px;

		.title{
			font-size: 24px;
		}

		.right-col{
			text-align: right;
			margin-top: 0;
		}
	}

	#slides{
		min-height: @sm-min-height;

		.owl-carousel{
			height: @sm-min-height;
		}

		#slide-text{
			.content-wrapper{
				max-width: 60%;
			}

			.title{
				font-size: 40px;
				line-height: 1.2;
				margin-bottom: 20px;
			}

			.subtitle{
				font-size: 30px;
			}
		}
	}
}

@media(min-width: @screen-md-min){
	body{
		padding-top: 96px;
	}

	#header-panel{
		> .navbar{
			.navbar-brand{
				height: 96px;
			}

			#main-menus{
				padding-top: 25px;
			}

			#menu-main-menu{
				.menu-item{
					+ .menu-item{
						margin-left: 15px;
					}
				}
			}
		}
	}

	#client-choose-panel{
		padding: 70px 90px;
	}
}

@media(min-width: @screen-lg-min){
	#client-choose-panel{
		padding: 80px 100px;
	}
}

@media(min-width: @screen-xlg-min){
	.container{
		width: 1200px;
	}
}